* {
    margin: 0;
    padding: 0;
} 
body{
    color: black;
    background-color: rgb(172, 16, 16);
    font-family: Arial, Helvetica, sans-serif;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    align-items: center;
    background-color: black;
    padding-bottom: 0px;
}

.header-div {
    font-size: large;
    font-family: 'Inter';
}

li {
    margin-bottom: 10px; /* reduz a margem inferior entre os itens da lista */
    margin-top: 10px;
}
ul {
    background-color: black;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}

a{
    color: white;
    text-decoration: none;
    font-size: 170%;
}

.center{
    text-align: center;
    font-size: 200%;
    position: relative;
    display: flex;
    justify-content: center;
}
.img1{
    left: 0px;
    max-width:100%;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    width: 100%;
}
.img2{
    position: absolute;
}
h1{
    font-size: 90%;
    font-family: 'Inter';
    font-style: normal;
    color:black;
    font-variation-settings: 'slnt' 0;
}
h2{
    font-size: 150%;
    font-family: 'Inter';
    font-style: normal;
    color: black;
    font-variation-settings: 'slnt' 0;
}
.linha{
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    margin-top: 50px;
    gap:20px 0px;
}
.coluna-33 {
    margin: 4vw 0vw;
    width: 33%;
    display: grid;
    justify-content: center;
    font-family: 'Inter';
    font-weight: 853;
    font-size: 35px;
}

.coluna-33 img {
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.retangulo-solido {
    display: grid;
    justify-content: center;
    margin-top: 0px;
}

.retangulo-solido img {
    margin: 1vw 0vw;
}

h3{
    overflow-wrap: break-word;
    max-width: 80%;
    padding-left: 50px;
}

.square {
    height: 21vh;
    width: auto;
    border: 5px solid black;
    padding: 5vh 0;
}

.linha-eventos{
    display:flex;
    padding-left: 20px;
    padding-top: 15vh;
    padding-bottom: 80px;
}
.coluna-50{
    flex:50%;
    padding:10px;
    height:300px;
}
.coluna-40{
    flex:50%;
    padding-top:30px;
    height:300px;
}
h4{
    font-size: 500%;
    font-family: 'Graduate', Courier;
    font-weight: 400;
    color:white;
}
h5{
    padding-top: 20px;
    font-size: 150%;
    overflow-wrap: break-word;
    color:white;
    font-weight: 200;
    max-width: 550px;
}

.branco{
    background-color: white;
    padding-top: 0px;
    height: 480px;
}
h6{
    color: black;
    padding-top: 20px;
    font-size: 150%;
    overflow-wrap: break-word;
    font-weight: 200;
    max-width: 550px;
}
h7{
    font-size: 500%;
    font-family: 'Graduate', Courier;
    font-weight: 400;
    color:black;
}
.linha-eventos2{
    display:flex;
    padding-left: 20px;
    padding-top: 60px;
}
.linha-eventos3{
    display:flex;
    padding-left: 20px;
    padding-top: 65px;
    padding-bottom: 80px;
}
.ig-logo {
    margin-right: 80px;
}

.grifo-logo {
    margin-left: 40px;
}

.parceria {
    display: inline-flex;
    padding: 35px 60px;
}

.parceria[name="subway"] {
    background-color: rgb(172, 16, 16);
    color: #ffffff;
    padding-top: 15vh;
}

.parceria[name="subway"] h1 {
    color: #ffffff;
}

.parceria[name="subway"] div {
    display: flex grid;
    justify-content: center;
    margin: 80px;
}

.parceria[name="subway"] div:first-child {
    margin-left: 0px;
}

.parceria[name="subway"] div:last-child {
    margin-right: 0px;
}

.parceria[name="vikings"] {
    background-color: #ffffff;
}

.parceria[name="vikings"] div {
    display: flex grid;
    justify-content: center;
    margin: 80px;
}

.parceria[name="vikings"] div:first-child {
    margin-left: 0px;
}

.parceria[name="vikings"] div:last-child {
    margin-right: 0px;
}

.parceria[name="tialilica"] {
    background-color: #8f0b0b;
    color: #ffffff;
}

.parceria[name="tialilica"] h1 {
    color: #ffffff;
}

.parceria[name="tialilica"] div {
    display: flex grid;
    justify-content: center;
    margin: 80px;
}

.parceria[name="tialilica"] div:first-child {
    margin-left: 0px;
}

.parceria[name="tialilica"] div:last-child {
    margin-right: 0px;
}

.parceria h1 {
    font-family: Graduate;
    font-size: 100px;
    text-align: left;
}

.parceria p {
    font-family: Inter;
    font-size: 30px;
    text-align: justify;
}