* {
    margin: 0;
    padding: 0;
} 
body{
    color: black;
    background-color: rgb(172, 16, 16);
    font-family: Arial, Helvetica, sans-serif;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 15%;
    z-index: 100;
    position:fixed;
    align-items: center;
    background-color: black;
    padding-bottom: 0px;
}
li {
    margin-bottom: 10px; /* reduz a margem inferior entre os itens da lista */
    margin-top: 10px;
}
ul {
    background-color: black;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}

a{
    color: white;
    text-decoration: none;
    font-size: 170%;
}

/* .imagem1{
    width: 10px;
    height: 10px;
}  */
/* .fundo {
    
 } */
/* header{
    
} */
.center{
    text-align: center;
    justify-content: center;
    font-size: 200%;
    position: relative;
    /* padding-top:0px;
    padding-bottom: 180px; */
    /* top:0px; 
    left:0px; */
}
.img1{
    top:120px;
    left: 0px;
    max-width:100%;
    height:auto;
    position:absolute;
}
.img2{
    top:250px;
    left: 448px;
    position: absolute;
}
h1{
    font-size: 90%;
    font-family: 'Inter';
    font-style: normal;
    color:black;
    font-variation-settings: 'slnt' 0;
}
h2{
    font-size: 150%;
    font-family: 'Inter';
    font-style: normal;
    color: black;
    font-variation-settings: 'slnt' 0;
}
.linha{
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    padding-top:990px; 
}
.coluna-33 {
    width: 33%;
}

.ig-logo {
    margin-right: 80px;
}

.grifo-logo {
    margin-left: 40px;
}

.parceria {
    display: inline-flex;
    padding: 35px 60px;
}

.parceria[name="subway"] {
    margin-top: 152px;
    background-color: rgb(172, 16, 16);
    color: #ffffff;
}

.parceria[name="subway"] h1 {
    color: #ffffff;
}

.parceria[name="subway"] div {
    display: flex grid;
    justify-content: center;
    margin: 40px;
}

.parceria[name="subway"] div:first-child {
    margin-left: 0px;
}

.parceria[name="subway"] div:last-child {
    margin-right: 0px;
}

.parceria[name="vikings"] {
    background-color: #ffffff;
}

.parceria[name="vikings"] div {
    display: flex grid;
    justify-content: center;
    margin: 40px;
}

.parceria[name="vikings"] div:first-child {
    margin-left: 0px;
}

.parceria[name="vikings"] div:last-child {
    margin-right: 0px;
}

.parceria[name="tialilica"] {
    background-color: #8f0b0b;
    color: #ffffff;
}

.parceria[name="tialilica"] h1 {
    color: #ffffff;
}

.parceria[name="tialilica"] div {
    display: flex grid;
    justify-content: center;
    margin: 40px;
}

.parceria[name="tialilica"] div:first-child {
    margin-left: 0px;
}

.parceria[name="tialilica"] div:last-child {
    margin-right: 0px;
}

.parceria h1 {
    font-family: Graduate;
    font-size: 100px;
    text-align: left;
}

.parceria p {
    font-family: Inter;
    font-size: 30px;
    text-align: justify;
}
